@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0F1015;
    font-size: large;
    overflow-x: hidden;
}

:root::-webkit-scrollbar {
    display: none;
}

:root {
    -ms-overflow-style: none;
    scrollbar-width: none;
}